
body {
    background-color: #000;
    color: #e6e6e6;
    font-family: "Segoe UI", sans-serif;
    scroll-behavior: smooth;
}

.section {
    padding: 90px 20px;
}


.hero {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url("home-bg.jpg");
    background-size: cover;
    background-position: center;
}


.nav-link {
    color: #ccc !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #fff !important;
}


.info-box {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #333;
    transition: 0.3s;
}

.info-box:hover {
    transform: translateY(-5px);
    background: #212121;
}


.email {
    font-size: 1.2rem;
    font-weight: bold;
}


footer {
    color: #aaa;
}
